{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="container mt-5">
    {% for group in exercises %}
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="card-title">{{ group }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for exercise in exercises[group] %}
                <li class="list-group-item bg-dark text-white">
                    <h6><a href="{{ url_for('exercise_details_page', exercise_id=exercise.id) }}" class="exercise-link">{{ exercise.name }}</a></h6>
                </li>
                {% endfor %}
            </ul>
        </div>        
    </div>
    {% endfor %}
</div>

{% endblock %}